<!DOCTYPE html>
<html lang="es">  
  <head>    
    <meta charset="utf-8"/>
    <title>Prueba de Apache personalizado</title>
  </head>  
  <body>    
    <h2>Este es el nodo {{ ansible_hostname }}</h2>
    <p>Comprueba el balanceo DNS recargando esta página (CTRL+F5)</p>
  </body>
</html>